<ul class="alert alert-danger" *ngIf="errores?.length > 0" id="errors">
    <li *ngFor="let err of errores" class="lis">
        {{ err }}
    </li>
</ul>
<div class="card bg-dark text-white" id="principal">
    <div class="card-header" id="titulo">{{titulo}}</div>
    <div class="card-body">
        <form #productoForm="ngForm" id="form">

            <div class="form-group row " id="div-uno">
                <label for="nombre" class="col-form-label col-sm-1 ">Nombre</label>
                <div class="col-sm-6">
                    <!--" " -->
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="producto.nombre" name="nombre" #nombre="ngModel">
                    <!--required minlength="3"-->
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            El nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            El nombre debe tener almenos 3 carateres
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row ">
                <label for="Precio" class="col-form-label col-sm-1 ">Precio</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="producto.precio" name="precio" #precio="ngModel">
                    <!--required -->
                    <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                        <div *ngIf="precio.errors.required">
                            El precio es requerido
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group row  my-2">
                <label for="mercado" class="col-form-label col-sm-1 ">Mercado</label>
                <div class="col-sm-6">

                    <select [compareWith]="compararMercado" class="form-control" [(ngModel)]="producto.mercado" name="mercado">
                        <option [ngValue] = "undefined"> --- seleccione un mercado ---</option>
                        <option *ngFor="let mercado of mercados" [ngValue]="mercado" >{{ mercado.nombre }}</option>
                    </select>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-danger mx-2" role="button" (click)='create()' *ngIf="!producto.id else elseBlock" [disabled]="!productoForm.form.valid">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-danger mx-2" role="button" (click)='update()' [disabled]="!productoForm.form.valid">Editar</button>

                    </ng-template>

                </div>
            </div>


        </form>
    </div>
    <div></div>
</div>