<div class="row">

    <div class="col-md-4" id="l1">
        <div id="imagen">
            <img *ngIf="producto?.foto" src="http://localhost:5050/api/uploads/img/{{producto.foto}}" alt="foto producto">
        </div>
        <br><br>
        <a [routerLink]="['/clientes']" class="btn btn-outline-danger btn-block">Regresar</a>

    </div>

    <div class="col-md-4" id="l2">
        <h3>{{producto.nombre}}</h3>
        <a href="">Vendido por {{producto.mercado.nombre}}</a>
        <p></p>
        <hr>
        <p>
            Precio: ${{producto.precio}}
        </p>

        <div></div>

    </div>

</div>