<h1>Cilentes <small>nose</small></h1>

<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col" *ngFor="let producto of productos">
        <div class="card" id="contenedor" style="width: 18rem;">

            <div class="text-center" id="sabe">
                <img *ngIf="producto?.foto" src="http://localhost:5050/api/uploads/img/{{producto.foto}}" alt="foto producto" class="rounded">
            </div>

            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">${{producto.precio}}</p>

                <div class="d-grid gap-2">
                    <button [routerLink]="['/pro',producto.id]" type="button" class=" btn btn-outline-danger btn-block">
                    Ver más..
                </button>
                </div>
                <!-- <a [routerLink]="['/pro',producto.id]" class="btn btn-outline-primary">Ver mas</a> -->
            </div>
        </div>
    </div>




</div>
<cliente-paginator *ngIf="paginador" [paginador]="paginador"></cliente-paginator>